
// Body
$body-bg: #fff;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

//$screen-xs:                  300px !default;
//$screen-sm:                  480px !default;
//$screen-md:                  768px !default;
//$screen-lg:                  1200px !default;
//
//$grid-gutter-width:         30px !default;
//// Small screen / tablet
//$container-tablet:             (540px + $grid-gutter-width) !default;
////** For `$screen-sm-min` and up.
//$container-sm:                 $container-tablet !default;
//
//// Medium screen / desktop
//$container-desktop:            (768px + $grid-gutter-width) !default;
////** For `$screen-md-min` and up.
//$container-md:                 $container-desktop !default;
//
//// Large screen / wide desktop
//$container-large-desktop:      (1140px + $grid-gutter-width) !default;


$main-bg: #f3f3f3;
